#team-box {
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}

#team {
    background: linear-gradient(to right, #52c234, #061700);
}
.text-center {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #team-box {
        display: grid;
        grid-template-columns: auto;
    }
    
}
@media (min-width: 768px) and (max-width: 1024px){ 
    #team-box {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (min-width: 1025px) and (max-width: 1280px){ 
    #team-box {
        display: grid;
        grid-template-columns: auto auto auto;
    } 
} 

