.testimonial-box {
    display: grid;
    grid-template-columns: auto auto auto;
}
.text-center {
    text-align: center;
}
.testimonial-image {
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .testimonial-box {
        display: grid;
        grid-template-columns: auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px){ 
    .testimonial-box {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (min-width: 1025px) and (max-width: 1280px){ 
    .testimonial-box {
        display: grid;
        grid-template-columns: auto auto auto;

        justify-content: center;
        align-items: center;
        margin: 0 auto;
    } 
    .testimonial {
        width: 25vw;
    }
    
} 
